<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                  Excerpt from "Excess Heat: Why Cold Fusion Research Prevailed" by Charles G. Beaudette
                </h2>
                <hr class="light">
                <p class="text-faded">
                  An early experiment consisted of a one-centimeter cube of palladium suspended in a flask of heavy water
                  containing dissolved lithium metal. Pons’s son Joey, who did not have technical training, was a quick,
                  intelligent helper, and he worked for his father as a sort of sorcerer’s apprentice. By the late fall of 1984,
                  the experiment had been running continuously for several months. At one point, Pons raised the current
                  from its nominal rate of 0.75 amperes to 1.5 amperes, and at the end of the day, sent Joey to turn off
                  the current. They left the laboratory for the night. Joey came in the next morning and found the
                  experiment in a shambles.
                </p>
                <p class="text-faded">
                  Fleischmann and Pons reported in their Preliminary Note, “...a substantial portion of the [palladium]
                  fused (melting point 1,554C), part of it vapourised, and the cell and contents and a part of the fume
                  cupboard housing the experiment were destroyed.”
                </p>
                <p class="text-faded">
                  Kevin Ashley was a graduate student of Pons in the chemistry department. He witnessed the scene the morning
                  after the meltdown. “This one morning I walk in, the door is open and Pons and Fleischmann are in the
                  room with Joey. The lab is a mess and there is particulate dust in the air. On this lab bench are the remnants
                  of an experiment. The bench was one of those black top benches that was made of very, very hard material.
                  There were cabinets under one end of the bench, but the experiment was near the middle where there was
                  nothing underneath. I was astonished that there was a hole through the thing. The hole was about a
                  foot in diameter. Under the hole was a pretty good sized pit in the concrete floor. It may have been as
                  much as four inches deep.
                </p>
                <p class="text-faded">
                  “What really surprised me,” Ashley continued, “was that Stan and Martin Fleischmann had these looks on
                  their faces as though they were the cat that had just swallowed the canary. They were clearly not displeased
                  with this mess. They were happy about what had happened. I was rather surprised by this; very surprised by
                  this.” Ashley was also able to identify the room in which the event took place as Room 1113 in
                  the north Henry Eyring Building (HEB).
                </p>
                <hr class="light">
                <p>
                  The term "Fleischmann Singularity" was coined by George Russ in his
                  <a style="color:white;text-decoration: underline;" href="http://atom-ecology.russgeorge.net/2014/12/02/fleischmann-singularity/">blog.</a>
                </p>
            </div>
        </div>
    </div>
</section>
