<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Room 1113</h1>
            <hr>
            <p style="color:white;">
                LENR (Low Energy Nuclear Reactions) a.k.a. "Cold Fusion" is the physical effect to describe
                the safe release of nuclear energy at very low temperatures compared to the
                millions of degrees necessary to generate nuclear energy in stars due to the well
                understood fusion of hydrogen nuclei.
            </p>
            <!--
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            -->
        </div>
    </div>
</header>
