<header style="max-height:2000px;min-height:850px;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>What is LENR?<br/>What is "Cold Fusion"?</h1>
            <hr>
            <p style="color:white;">
                LENR (Low Energy Nuclear Reactions) a.k.a. "Cold Fusion" is the physical effect to describe
                the safe release of nuclear energy due to the fusion of atomic nuclei
                at relatively low temperatures (~1,000°C)
            </p>

            <p style="color:white;">
                "Hot Fusion" generates nuclear energy in the interior of stars at very high temperatures (~1,000,000°C).
            </p>

            <p style="color:white;">
                While the science behind "Hot Fusion" was thoroughly researched and is well understood,
                "Cold Fusion" has only been investigated by very few scientists and was rejected as impossible by
                the established scientific community since no existing theory is able to explain the phenomenon.
            </p>

            <p style="color:white;">
                The lack of interest in the field is disappointing since the benefits of "Cold Fusion" as energy source
                are huge. In contrast to "Hot Fusion", the single biggest advantage of "Cold Fusion" is the ability
                to extract nuclear energy without creating hazardous radioactive waste.
            </p>

            <p style="color:white;">
                However in recent years interest and research activity in the field has continuously intensified.
            </p>
            <!--
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            -->
        </div>
    </div>
</header>
