<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6" style="height:240px;">
                <a href="http://www.quantumheat.org" class="portfolio-box" style="text-align:center;height:240px;">
                    <img src="img/portfolio/mfmp.png" class="img-responsive" style="display:inline-block;position:relative;top:20px;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Martin Fleischmann Memorial Project
                            </div>
                            <div class="project-name">
                                Committed team of scientists dedicated to
                                replicate the LENR effect and
                                make the recipe available for
                                everyone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" style="height:240px;">
                <a href="http://iccf19.com/home.html" class="portfolio-box" style="text-align:center;height:240px;">
                    <img src="img/portfolio/logo-iccf19.jpeg" class="img-responsive"
                       style="display:inline-block;position:relative;top:75px;"
                       alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ICCF-19
                            </div>
                            <div class="project-name">
                                2015 edition of the
                                International Conference on Cold Fusion<br/>
                                held in Padua, Italy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" style="height:240px;">
                <a href="http://www.e-catworld.com" class="portfolio-box" style="text-align:center;height:240px;">
                    <img src="img/portfolio/ecw.png" class="img-responsive" style="display:inline-block;position:relative;top:70px;" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-Catworld
                            </div>
                            <div class="project-name">
                                Great blog by Frank Akland<br/>
                                Updated on a daily basis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
